aiohttp==3.14.1
aiosqlite==0.22.1
chess==1.11.2
colorama==0.4.6
deep-translator==1.11.4
discord-ext-menus==1.1
discord.py[voice]==2.7.1
duckduckgo-search==8.1.1
Flask==3.1.3
gTTS==2.5.4
jishaku==2.7.5
langdetect==1.0.9
openai==2.44.0
pillow==12.3.0
psutil==7.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
PyYAML==6.0.3
Quart==0.20.0
requests==2.34.2
typing-extensions==4.16.0
wavelink==3.5.2
discord.py
 discord-ext-menus
 aiohttp
 jishaku
 aiosqlite 
python-dotenv 
colorama 
requests 
numpy 
mcstatus
 uvicorn 
fastapi 
slowapi
